bin/
obj/
Temp/
Library/
*.suo
*.user
*.cachefile
*.pidb
*.userprefs
*.unityproj
*.dll
*.pdb
StyleCop.Cache
Settings.StyleCop
unity/unity.sln
unity/unity-csharp.sln
unity/Assets/Libs/Swarm.dll
unity/Assets/Libs/Swarm.pdb